@font-face {
    font-family: 'webfontregular';
    src: url('fonts/fieldwork-geo-regular-webfont.woff2') format('woff2'),
        url('fonts/fieldwork-geo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-height: 100%;
    opacity: 0.5;
    z-index: -1;
}

#title {
    position: relative;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: 1;
}

#btnLang {
    width: auto;
    margin: auto;
}

#btnEN {
    font-family: webfontregular;
    background-color: black;
    margin: auto;
    width: 10%;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

#btnEN a {
    text-decoration: none;
    color: white;
}

#btnPT {
    font-family: webfontregular;
    background-color: black;
    margin: auto;
    width: 10%;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

#btnPT a {
    text-decoration: none;
    color: white;
}
